.navbar{
   background-color:#00abb3;
} 
p{
    color: #073842;
}
h4{
    color: #073842;
}
.back{
    background-color: #00abb3;
}
 footer{
    background-color:#00abb3;
 }
#GreyColor
 {
    color: #dfe0e0;
 }